@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-image: linear-gradient(to bottom, rgb(148, 205, 243) 0%, rgb(148, 205, 243) 50%, rgb(27, 156, 241) 50%, rgb(27, 156, 241) 100%);
}

/* body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rgb(148, 205, 243);
    z-index: -1;
}
body::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50vh;
    background: rgb(27, 156, 241);
    z-index: -1;
} */

.container {
    font-family: 'Muli', sans-serif;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

#nav {
    background: #fff;
    padding: 1rem;
    width: 3rem;
    display: flex;
    align-items: center;
    transition: width 0.5s linear;
    border-radius: 0.3rem;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
    position: relative;
}

#nav.active {
    width: 100%;
    padding: 0 1rem;
}

#nav ul {
    list-style: none;
    display: flex;
    width: 90%;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

#nav.active ul {
    opacity: 1;
}

#nav ul li {

    transform: rotateY(0deg);
    transition: transform 0.5s ease-out;

}
#nav.active ul li {
    transform: rotateY(360deg);
    padding: 1rem;
}


#nav.active ul li a {
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
}

#nav.active ul li div {
    transition: transform 0.5s ease;
}

#nav.active ul li:hover {
    background-image: linear-gradient(to bottom, rgba(27, 156, 241, 1) 0%, rgba(27, 156, 241, 0.5) 50%, rgba(148, 205, 243, 1) 50%, rgba(148, 205, 243, 0.5) 100%);
}

#nav.active ul li:hover a {
    color: #fff;
}

#nav.active ul li:hover div {
    color: #fff;
    transform: rotateY(360deg);
}

#nav #toggle {
    width: 1rem;
    height: 50%;
    right: 1rem;
    flex-shrink: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

#nav #toggle div {
    position: relative;
    width: 100%;
    height: 100%;
}

#nav #toggle div .line {
    width: 100%;
    height: 2px;
    background-color: rgb(148, 205, 243);
    position: absolute;
    transition: transform 0.5s ease;
    transform-origin: center center;
}

#nav #toggle div .line1 {
    top: 30%;
}

#nav #toggle div .line2 {
    bottom: 30%;
}

#nav.active #toggle div .line1 {
    top: 50%;
    transform: rotate(-765deg) translateY(-50%);
}

#nav.active #toggle div .line2 {
    bottom: 50%;
    transform: rotate(765deg) translateY(50%);
}